/TheArena/Binaries/
/TheArena/DerivedDataCache/
/TheArena/Saved/
/TheArena/Content/StarterContent/
*.suo
*.sdf
*.opensdf
/TheArena/Intermediate/Config/
/TheArena/Intermediate/Build/
/TheArena/Intermediate/ReimportCache/
/TheArena/Intermediate/ProjectFiles/
*.bin
*.obj
*.pch
